<div class="navigation">
  <h3>Welcome back </h3>                            

<form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button" type="submit" value="Log-Out">
  </form>


</div>