<div class="navigation">                            


    <a class="button2" href ='/'>Entrance</a>
        <a class="button2" href ='/users/profile'>My Profile</a>


</div>

<form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button2" type="submit" value="Exit">
  </form>