<h2>Welcome Back!</h2>
<div class="button2">
  <form action="/sessions" method="post">
    <input autofocus type="text" name="username" placeholder='...username'>
    <input type="password" name="password" placeholder='...password'>
    <input class="button2" type="submit" value="Enter">
  </form>
</div>