
<div class="gameplay">

<h2>Hello, <%= current_user.username %>! Ready to play?</h2>

<a class="button2" href="/word_games">Play Mystery Word!</a> 
<a class="button2" href="/whitman" target="_blank">Whitman: Episode 0!</a> 



<!-- Record of unfinished Mystery Word games

<ul class='games'>
  <% current_user.word_games.each do |game| %>
    <li>
      <a href="/word_games/<%= game.id %>">
        <%= game.complete ? game.word : game.game_state %>
      </a>
    </li>
  <% end %>
</ul> -->

</div>